@font-face {
    font-family: 'Baloo 2';
    font-weight: 400;
    src: url(~assets/fonts/Baloo2-Regular.ttf);
}

@font-face {
    font-family: 'Baloo 2';
    font-weight: 500;
    src: url(~assets/fonts/Baloo2-Medium.ttf);
}

@font-face {
    font-family: 'Baloo 2';
    font-weight: 600;
    src: url(~assets/fonts/Baloo2-SemiBold.ttf);
}

@font-face {
    font-family: 'Baloo 2';
    font-weight: 700;
    src: url(~assets/fonts/Baloo2-Bold.ttf);
}

@font-face {
    font-family: 'Baloo 2';
    font-weight: 800;
    src: url(~assets/fonts/Baloo2-ExtraBold.ttf);
}

:root {
    --default: #1d1d1f;
    --default-neg: #f5f5f7;
    --red: #ff3b30;
    --orange: #ff9500;
    --yellow: #ffcc00;
    --green: #34c759;
    --mint: #00c7be;
    --teal: #30b0c7;
    --cyan: #32ade6;
    --blue: #007bff;
    --indigo: #5856d6;
    --purple: #af52de;
    --pink: #ff2d54;
    --brown: #a2855e;
    --bg: #e5e5e5;
    --gray8: #8e8e93;
    --gray7: #aeaeb2;
    /* --gray4: #c7c7cc; */
    --gray4: #2f2f2f;
    --gray3: #d1d1d6;
    --gray5: #e5e5ea;
    --gray6: #f2f2f7;
    --gray: #2f2f2f;
    --gray2: #0f0f0f;
    --gray9: #191919;
}

.dark-mode {
    --default: #f5f5f7;
    --default-neg: #1d1d1f;
    --red: #ff443a;
    --orange: #ff9d0a;
    --yellow: #ffd60a;
    --green: #30d158;
    --mint: #66ddcf;
    --teal: #40c8e0;
    --cyan: #64d3ff;
    --blue: #0a84ff;
    --indigo: #5e5ce6;
    --purple: #bf5af2;
    --pink: #ff375f;
    --brown: #ac8f68;
    --bg: #1f1f1f;
    --gray8: #8e8e93;
    --gray7: #636366;
    --gray4: #555555;
    /* --gray4: #48484a; */
    --gray3: #3a3a3c;
    --gray5: #2c2c2e;
    --gray6: #1c1c1e;
    --gray: #0f0f0f;
    --gray2: #2f2f2f;
    --gray9: #3f3f3f;
}
.bg-gray5{
    background: #2f2f2f;
}
.bg-gray4{
    background: var(--gray4);
}
.bg-gray3{
    background: var(--gray3);
}
.bg-gray2 {
    background: var(--gray2);
}
.bg-gray{
    background: var(--gray);
}
.bg-main {
    background: var(--bg);
}
.text-white {
    color: #f5f5f7;
}
.text-primary{
    color: var(--pink);
}
.bg-primary{
    background: var(--pink);
}
.text-default{
    color: var(--default);
}

h-1-10{
    height: 10%;
}
h-9-10{
    height: 90%;
}
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Baloo 2', cursive;
    /* color: var(--default); */
    overflow-x: hidden;
}